body{
    display: flex;
    flex-direction: column;
}
.cart-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.cart-wrapper{
    padding:30px 8%;
    width: 100%;
    min-height: calc(100vh - 110px);
}
.title-cart{
    border-bottom: 3px solid var(--purple-light);
    color: #0d0c22;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .02em;
    margin-bottom: 30px;    
    text-transform: uppercase;
}
.cart-empty-container{
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    height: 100%;
}
.cart-empty-container .empty-chest-img{
    width: 150px;
    height: 150px;
}
.cart-empty-container .empty-title-cart{
    font-size: 20px;
    height: 24px;
}
.cart-empty-container .empty-text-cart{
    font-size: 18px;
}



.cart-content{
    grid-column-gap: 54px;
    display: grid;
    grid-template-columns: 1fr 408px;
    width: 100%; 
}

.cart-product-container{
    border-bottom: 2px solid #edf3f7;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    padding-bottom: 36px;
    position: relative;
}
.cart-product-content{
    display: flex;
    flex: 1;
}
.cart-img-container{
    display: block;
    height: 138px;
    margin-right: 24px;
    max-width: 92px;
    width: 100%;
}
.cart-img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
}

.cart-product-block{
    display: flex;
    flex: 1;
    position: relative; 
}
.cart-product-description-block{
    margin-bottom: 12px;
    margin-right: auto;
}
.cart-product-description{
    cursor: pointer;
    margin-right: auto;
    transition: color 0.2s ease;
    width: 100%;
    color:#0d0c22;
}
.cart-product-description:hover .cart-product-title__head{
    color: var(--purple);
}
.cart-product-title__head{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0d0c22;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.cart-product-title__author{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #707783;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    padding-top: 6px;
    text-overflow: ellipsis;
    word-break: break-word;
}

.cart-product-counter-container{
    flex: 0 0 108px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
}
.cart-counter{
    align-items: stretch;
    background-color: #fff;
    border: 1.5px solid  var(--purple-light);
    border-radius: 4px;
    display: flex;
    height: 32px;
    overflow: hidden;
    margin: auto;
    max-width: 95px;
    position: relative;
    width: fit-content;
}
.count-minus{
    cursor: pointer;
    background-color: #fff;
    border: 0;
    color: #0d0c22;
    flex-shrink: 0;
    font-family: inherit;
    font-size: 16px;
    height: 100%;
    padding-bottom: 2px;
    padding-left: 5px;
    text-align: center;
    transition: background-color .2s,color .2s,opacity .2s;
    width: 32px;
}
.count{
    border: none;
    color: inherit;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    min-width: 28px;
    outline: none;
    padding: 0;
    text-align: center;
}
.count-plus{
    cursor: pointer;
    background-color: #fff;
    border: 0;
    color: #0d0c22;
    flex-shrink: 0;
    font-family: inherit;
    font-size: 16px;
    height: 100%;
    padding: 0;
    text-align: center;
    transition: background-color .2s,color .2s,opacity .2s;
    width: 32px;
}

.product-card-price{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    min-height: 46px;
    margin-bottom: 12px;
}
.product-price {
    align-items: flex-start;
    display: flex;
    flex-flow: column;
}
.product-price .product-price__old{
    line-height: 18px;
    color: #707783;
    display: block;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
    text-decoration: line-through;
    text-decoration-color: #f34a57;
    font-size: 14px;
    line-height: 20px;
}
.product-price .product-price__value{
    color: #f34a57;
    font-family: sans-serif;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    white-space: nowrap;
}

.cart-product-actions{
    position: absolute;
    right: 0;
    top: 104px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    order: 5;
    margin-top: 8px;
}
.favourite-button{
    background-color: #f9f4ff;
    flex-shrink: 0;
    height: 36px;
    width: 36px;
    margin-left: 16px;
    cursor: pointer;
    align-items: center;
    border: 0;
    border-radius: 4px;
    display: flex;
    font-family: inherit;
    justify-content: center;
    padding: 0;
    transition: color .2s ease, background-color .2s ease;
}
.favourite-button:hover{
    background-color: #f2e8fe;
}
.favourite-button svg{
    fill: var(--purple);
    font-size: 24px;
    height: 24px;
    width: 24px;

}
.favourite-button-active svg{
    z-index: 1;
    fill: #f91155;
    font-size: 26px;
    height: 26px;
    width: 26px;
}

.cart-delete-button{
    background-color: #f9f4ff;
    flex-shrink: 0;
    height: 36px;
    width: 36px;
    margin-left: 16px;
    cursor: pointer;
    align-items: center;
    border: 0;
    border-radius: 4px;
    display: flex;
    font-family: inherit;
    justify-content: center;
    padding: 0;
    transition: color .2s ease, background-color .2s ease;
}

.cart-delete-button svg{
    fill: var(--purple);
    color: var(--purple);
    font-size: 24px;
    height: 24px;
    width: 24px;
}
.cart-delete-button svg path{
    fill: #6933b0;
}
.cart-delete-button:hover{
    background-color: #f2e8fe;
}

/* cart-content-right start*/
.cart-content-right{
    position: relative;
    width:100%;
    z-index: 1;
}
.cart-sidebar{
    border-radius: 15px;
    color:#0d0c22;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f4ff;
    max-width: 512px;
    padding-bottom: 24px;
    padding-top: 24px;
    top: 104px;
}
.cart-sidebar-info{
    padding: 0px 36px;
    margin-bottom: 32px;
}
.amount-without-discount{
    padding: 6px 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}
.amount-discount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 6px 0;
}
.amount-discount .info-item__value{
    color:#f91155;

}
.amount{
    font-weight: 500;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 8px;
    margin-top: 7px;
}

.amount .info-item__title{
    font-weight: 600;
}
.amount .info-item__value{
    font-weight: 600;
}

.info-item__title{
    color: #0d0c22;
    font-size: 16px;
    font-weight: 400;
    line-height: 144%;
}
.info-item__value{
    color: #0d0c22;
    font-size: 16px;
    font-weight: 400;
    line-height: 144%;
}
.container-order-btn{
    display: flex;
    flex-direction: column;
    padding: 0 36px;
}
.btn-cart-sidebar-order{
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 52px;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
    background-color: var(--blue);
    color:white;
    border-radius: 4px;
    transition: background-color .2s ease;
}
.btn-cart-sidebar-order:hover{
    background-color: var(--cyanide);
}
/* cart-content-right end*/

@media (max-width: 1240px){
    .cart-content{
        display: block;
    }
    .title-cart{
        font-size: 24px;
        line-height: 32px;
    }
    .cart-product-block{
        flex-wrap: wrap;
    }
    .cart-product-title__head, .cart-product-title__author{
        font-size: 12px;
        line-height: 18px;
    }
    .cart-product-counter-container{
        padding: 0;
        padding-top: 0px;
        margin: 0;
        order: 4;
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;
        margin-top: 0px;
        position: relative;
    }
    .cart-counter{
        align-items: stretch;
        display: flex;
        height: 32px;
        position: relative;
        width: fit-content;
        margin-right: 0;
        margin-left: 0;
    }
    .cart-product-cost{
        flex: 1 1 100%;
    }
    .product-card-price{
        margin-bottom: 0px;
    }
    .product-price{
        text-align: right;
    }
    .product-price__old, .product-price__value{
        font-size: 12px;
        line-height: 18px;
    }
    .cart-product-actions{
        display: flex;
        margin-top: 0px;
        order: 5;
        position: relative;
        top:0;
    }
    .favourite-button, .cart-delete-button{
        height: 32px;
        min-width: 32px;
        margin-left: 8px;
        font-size: 10px;    
        line-height: 16px;
        width: auto;
    }
    .favourite-button svg, .cart-delete-button svg{
        font-size: 18px;
        height: 18px;
        width: 18px;
    }
}
@media(max-width:1024px){
    .cart-wrapper{
        padding:30px 8%;
        min-height: calc(100vh - 132px);
    }
}
@media (max-width: 540px){
    .title-cart{
        font-size: 20px;
        line-height: 26px;
        min-height: 40px;   
    }
    .cart-img-container{
        margin-right: 16px; 
    }
    .cart-product-description-block{
        margin-bottom: 4px;
        margin-right: auto;
        padding-right: 8px;
    }
    .cart-product-title__head, .cart-product-title__author{
        font-size: 10px;
        line-height: 16px;
    }
    .product-price__old{
        font-size: 10px;
        line-height: 16px;
    }
    .product-price__value{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 340px){
    .cart-product-actions{
        margin-top: 8px;
    }
}