body{
    display: flex;
    flex-direction: column;

}

.fav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.fav-wrapper{
    padding:30px 8%;
    width: 100%;
    min-height: 100vh;
}

.title-fav{
    color: #0d0c22;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .02em;
    margin-bottom: 40px;    
    text-transform: uppercase;
}
.container-favourites{
    width: 100%;
    display: grid;
    gap: 64px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container-favourites .product-card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.container-favourites .product-title__head{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word; 
}

@media (max-width:1500px){
    .container-favourites{
        gap: 64px 16px;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
}
@media screen and (max-width: 540px){
    .container-favourites{
        gap: 32px 28px;
        grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
    }
}