*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  background: none;
  text-decoration: none;
}
:root {
  --purple-light: #8654cc;
  --purple: #6933b0;
  --blue: #94b3fd;
  --cyanide: #94daff;
  --light-blue: #99feff;
  --black: #000;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
html {
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
  background: rgba(6, 6, 6, 0.2);
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header {
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  padding: 1.5rem 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(8, 9, 10, 0.08);
  height: 80px;
}
header .contaier {
  /* max-width: 1464px !important; */
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav{
  display: flex;
  width: 100%;
}
/* header logo start */
.logo-container {
  text-decoration: none;
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.logo-container .logo-img {
  padding-bottom: 8px;
  width: 45px;
}
.logo-container h1 {
  color: #6933b0;
  font-size: 40px;
}
/* header logo end */

/* header search start */
.header-search-block {
  width: 100%;
}
.header-search-form {
  margin-right: 32px;
  height: 50px;
  position: relative;
}
.search-field {
  position: absolute;
  width: 100%;
  align-items: center;
  background: white;
  border: 2px solid var(--purple-light);
  border-radius: 32px;
  display: flex;
  position: relative;
  z-index: 3;
}
.search-field-input {
  color: #15181a;
  border: none;
  border-radius: 24px;
  display: block;
  flex: 1 1 auto;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 20px;
  min-width: 0;
  padding: 14px 0 14px 16px;
}
/* input[type="search"]::-webkit-search-cancel-button {
    display: none;  
  } */
.header-search-button {
  cursor: pointer;
  background-color: var(--purple-light);
  height: 40px;
  margin-right: 4px;
  width: 40px;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  border: 2px solid var(--purple-light);
}
.header-search-button:active {
  background: #5d3a8e;
}
.header-search-button i {
  font-size: 14px;
  padding-left: 2px;
  color: white;
}
/* header search end */

/* catalog start */
.catalog {
  cursor: pointer;
  display: flex;
  gap: 5px;
  width: 135.56px;
  height: min-content;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--purple);
  padding: 19px 24px;
  border-radius: 32px;
  border: 1px solid var(--purple);
  margin-right: 20px;
}
.catalog:hover {
  background-color: #5d3a8e;
}
.catalog-text {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.6em;
  display: flex;
  align-self: flex-end;
  text-align: center;
  /* color: hsla(0, 0%, 100%, .9); */
  color: white;
}
.catalog-burer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  /* margin-right: 5px; */
}
.catalog-burer span {
  background-color: hsla(0, 0%, 100%, 0.9);
  width: 15px;
  border-radius: 1.5px;
  height: 2px;
}

/* catalog end */

/* header controls start*/
.header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 200px;
}
.header-controls button,
.header-controls a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--purple);
  border-radius: 50%;
  border: 2px solid var(--purple);
  transition: all 0.4s;
  cursor: pointer;
}
.header-controls a:hover {
  background-color: white;
  transition: all 100ms;
  border: 2px solid var(--purple);
}

.header-controls a svg {
  font-size: 25px;
  height: 25px;
  width: 25px;
}
#header-profile svg * {
  stroke: white;
}
#header-profile:hover svg * {
  stroke: var(--purple);
}
#header-favourites svg {
  margin-top: 1px;
  margin-left: 1px;
}
#header-favourites svg * {
  fill: white;
  stroke: white;
}
.header-controls a span {
  border-radius: 50%;
  color: white;
  background-color: #f91155;
  padding: 1px 5px;
  font-size: 15px;
  line-height: 17px;
  min-height: 15px;
  min-width: 15px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  margin-top: -16px;
  right: -4px;
  display: none;
}
#header-favourites:hover svg * {
  fill: var(--purple);
  stroke: var(--purple);
}
#header-cart svg * {
  stroke-width: 20;
  stroke: white;
}
#header-cart:hover svg * {
  stroke: var(--purple);
}

@media (max-width: 1024px) {
  header{
    height: min-content;
    padding: 10px;
  }
  header .logo-container{
    position: absolute;
    left: 5px;
    top: 5px;
  }
  header .contaier{
    /* margin-right: 10px; */
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-end;
    row-gap: 10px;
    overflow-y: visible;
    overflow-x:visible;
  }
  .header-nav{
    order: 4;
  }
  .catalog{
    margin-right: 5px;
  }
  .header-search-form{
    margin-right: 0px;
  }
 
  h1{
    font-size: 27px!important;
  }
  header{
    justify-content: flex-end;
  }
  .logo-img{
    height: 43px;
    width: 35px;
  }
  header .contaier{
    row-gap: 5px;
  }
  .header-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
  }
  .header-controls button,
  .header-controls a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    background-color: var(--purple);
    border-radius: 50%;
    border: 2px solid var(--purple);
    transition: all 0.4s;
    cursor: pointer;
  }
  .header-controls a svg {
    font-size: 17px;
    height: 17px;
    width: 17px;
  }
  #count-favourites,
  #count-item-in-cart{
    border-radius: 50%;
    color: white;
    background-color: #f91155;
    padding: 1px 5px;
    font-size: 10px;  
    min-height: 10px;
    min-width: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: center;
    margin-top: -16px;
    right: -4px;
    transition: all 0.3s ease-in;
  }
  .catalog{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 42px;
    padding: 0px 0px 15px 0px;
  }
  .header-search-form {
    height: 40px;
  }
  .search-field-input{
    height: 20px;
    padding: 11px 0 11px 16px;
  }
  .header-search-button{
    margin-top: 2px;
    margin-bottom: 2px;
    height: 36px;
    margin-right: 2px;
  }
  html::-webkit-scrollbar {
    width: 0.5rem;
  }
}

@media (max-width: 570px) {
  h1{
    font-size: 27px!important;
  }
  header{
    justify-content: flex-end;
  }
  .logo-img{
    height: 43px;
    width: 35px;
  }
  h1{
    font-size: 27px!important;
  }
  header{
    justify-content: flex-end;
  }

  
  
  .catalog{
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    /* border-radius: 50%; */
    min-height: 42px;
    min-width: 42px;
    height: 42px;
    width: 42px;
  }
  .catalog-burer{
    margin-top: 15px;
  }
  .catalog-text{
    display: none;

  }
}

/* header controls end*/
