@import url("./header.css");


.swiper-container-image{
    min-width: 320px;
    width: 100vw;
}

.swiper-container-image .swiper a{
    width: 100%;
    min-width: 320px;
}
.swiper-container-image .swiper a img{
    min-width: 320px;
    min-height: 150px;
    width: 100%;
}

.swiper-button-prev::after {
    color: #8654cc;
    font-size: 60px !important;

}
.swiper-button-next::after {
    color: #8654cc;
    margin-right: 26px;
    font-size: 60px !important;
}
.swiper-container-image .swiper-pagination{
    bottom: 0;
}
.swiper-container-image .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 14px;
    background-color: rgba(90,90,90,0.8);
}
@media (max-width: 768px){
    
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev::after {
        display: none;
    }
    .swiper-button-next::after {
        display: none;
    }
}

.swiper-novelty-container .swiper a{
    width: 100%;
    min-width: 320px;
}
.swiper-novelty-container .swiper img{
    /* min-width: 320px;  */
    min-height: 150px;
    max-height: 400px;
}
.novelty-container {
    padding: 0px 20px;
    width: 100vw;
}

.swiper-container-image .swiper a{
    width: 20%;
    min-width: 320px;
}
.swiper-container-image .swiper a img{
    width:auto; 
    max-width:100%;
    min-height: 150px;
    width: 100%;
}
.product-card-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-img-container{
    display: flex;
    justify-content: center;
}